

*{
  font-family: 'Source Sans Pro', sans-serif;
}
.bg-transparent{
  background-color: transparent !important;
}

.img-carrousel{
  width: 100%;
}

.icons-info{
  background-color: #0dcaf0;
  width: 100%;
  height: 2rem;
}

.bg-color{
  background-color: black;
}

.style-icons{
  color: white;
}
footer{
  height: 5rem;
}
#lago{
  height: 53.5% !important;
}
.card{
  width: 24.4% !important;
}
.input{
  width: 82rem;
}